* {
  font-size: 12px;
}

body {
  font-family: Songti TC, serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}
